@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .w-main {
      width: 58%;
    }
  }
}

body {
  color: #3a3a3a;
  font-family: Consolas, Monospace, /* Linux = DejaVu Sans Mono */ Courier;
  font-feature-settings: 'kern', 'frac', 'kern', 'ss02';
}

::selection {
  background: hsl(0 0% 0%/0.071);
}
